@font-face {
    font-family: "coco";
    src: url(cocogoose/Cocogoose-Pro-Darkmode-trial.ttf);
    font-style: normal;
}

:root {
    --base-color: #f9f6f3;
    --text-color: #242423;
    --primary-color: #f5cb5c;
    --secondary-color: #f5cb5c;
    --color-1: #e8eddf;
    --color-2: #cfdbd5;
    --color-3: #cfdbd5;
}

p {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin: 5;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family:coco, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: var(--text-color);
}

body {
    padding: 2em; 
    background-color: var(--base-color);
}


h1, h2, h3, h4{
   font-family: coco, 'Times New Roman', Times, serif, Verdana, Geneva, Tahoma, sans-serif;
}

h4{
    font-size: 1.5rem;
}

nav {
    margin: 1em auto 3em auto;
    width: min(1000pc, 100%); /* should help with different screen sizes */
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav li:first-child { /* only applies to first item of nav */
    margin-right: auto; /* hey! fill up as much space of the right, pushing it to the left */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

nav a {
    text-decoration: none; /* remove underline */
    color: var(--text-color);
}

nav a:hover { /* when hovering links the underline comes back*/
    text-decoration: underline;
}

header, section {
    margin-top: .5em;
    margin: 2em, auto;
    width: min(100%);
    background-color: var(--color-1);
    padding: min(2em, 15%); /* em= relative to font size, 
    min+ choose whichever is smaller for device */
    border-radius: 1em; /* giving it a curve */
}

.flex-container {
    display:flex; /* pushed my text to the right of image hm*/
    justify-content: center; /* horizontally */
    align-items: center; /* vertically*/
    flex-wrap:wrap;
    gap: 1em;
}

header img{
    max-width: 100%;
    object-fit: cover;
    object-position: top; /* if cropping happens, 
    focus on top part of image. crop bottom instead */
    border: 1em solid transparent;
    border-color: var(--primary-color);
    border-radius: .5em;
}

.text-container {
    flex: 0 1 34em;
    /* 0= doesnt allow text container to grow on size of text; 
    1= allows text to shrink if needed
    34em= prefered fixed width of text container, 
    shrink if screen is small tho */
}

.text-container h3 {
    display:inline-block;
    background-color: var(--primary-color);
    border-radius: .5em;
    padding: .75em 1.25em;;
    font-size: 1.5rem;
    margin:.5em;
    color: white;
    font-weight: 600;
    width: 50%;
}

h1 {
    font-size: 2.5rem;
}

.text-container p{
    margin: .75em 0 1em 0;
    font-size: 1.25rem;

}

.cta-button {
    display: inline-block;
    text-decoration:none;
    color: white;
    background-color: var(--primary-color);
    padding: .75em 1.25em; /*inside spacing */
    border-radius: .5em;
    font-weight: 600;
    margin: .5em;
    width: 50%;
    justify-content: center; /* horizontally */
    align-items: center;
}

.secondary {
    background-color: var(--secondary-color);
}

section {
    gap: 2em;
    padding: 3em min(2em, 15%); /* smaller screens uses percentages */
    background-color: var(--color-2);
    text-align: center;
    margin: 2em, auto;
    background-color: var(--base-color);
}

h2 {
    font-size: 2rem;

}

section p {
    margin-top: 1em;
    font-size: 1.25rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex-container1 h1 {
    font-family: coco;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-weight: bold;
    flex-wrap: wrap;
    font-size: 5rem;
    text-align: center;
}

@media only screen and (min-width: 0px) and (max-width:1024px) {
    .flex-container1 h1{
        font-size: 2.5rem;
    }
}

section h2 {
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    display: flex;
}


section #artwork {
    background-color: var(--color-3);
}

.grid-container {
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns:repeat(4, 1fr); /* four columns, 
    1 fraction of available space= each section is same size */
    grid-template-rows: repeat(2, 1fr);
    margin: .5em;
    grid-template-areas:
    "img-1 img-1 img-2 img-3"
    "img-1 img-1 img-4 img-5"

}
@media only screen and (min-width: 0px) and (max-width:1024px) {
    .grid-container {
       grid-template-columns:repeat(2, .5fr); /* four columns, 
        1 fraction of available space= each section is same size */
        grid-template-rows: repeat(3, .5fr);
        margin: .5em;
        grid-template-areas:
        "img-1 img-1"
        "img-2 img-3"
        "img-4 img-5"
    }
}

.grid-container img {
    scale: 95%;
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease; 
}

img {
    transition: 100ms ease;
}

 img:hover {
    scale: 1.05;
}

details {
    background-color: var(--color-2);
    border-radius: 1em;
    margin-top: 1em;
}

details summary {
    padding: 1em;
    font-size: 1.7em; 
    /*font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
}

details p {
    padding: 0 2em 2em 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#questions {
    background-color: var(--color-1)
}

footer {
    font-size: .75rem;
}
.artist-select {
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    width: 100%;
    grid-template-columns:repeat(3, .3fr); /* four columns, 
    1 fraction of available space= each section is same size */
    grid-template-rows: repeat(9, .15fr);
    margin: .5em;
    grid-template-areas:
    "img-6 text-1 text-1"
    "text-2 text-2 img-7"
    "img-8 text-3 text-3 "
    "text-4 text-4 img-9"
    "img-10 text-5 text-5"
    "text-6 text-6 img-11"
    "img-12 text-7 text-7"
    "text-8 text-8 img-13"
    "img-14 text-9 text-9"
}

.artist-select h2 {
    font-size: 4rem;
}

.artist-select img {
    scale: 95%;
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease; 
    border: .5em solid transparent;
    border-color: var(--primary-color);
    border-radius: .5em;
}

.artist-select img:hover {
    scale: 1.05;
}

.artist-select a{
    text-decoration: none; /* remove underline */
    color: var(--text-color);
}

.artist-select h2:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 0px) and (max-width:1024px) {
    .artist-select {
        grid-template-columns:repeat(4, .5fr); /* four columns, 
    1 fraction of available space= each section is same size */
    grid-template-rows: repeat(10, .5fr);
        grid-template-areas:
        "img-6 img-6 img-7 img-7"
        "text-1 text-1 text-2 text-2"
        "img-8 img-8 img-9 img-9"
        "text-3 text-3 text-4 text-4"
        "img-10 img-10 img-11 img-11"
        "text-5 text-5 text-6 text-6"
        "img-12 img-12 img-13 img-13"
        "text-7 text-7 text-8 text-8"
        ". img-14 img-14 ."
        ". text-9 text-9 ."



    /*"img-6 img-7 img-8"
    "img-6 img-7 img-8"
    "text-1 text-2 text-3"
    "img-9 img-10 img-11"
    "img-9 img-10 img-11"
    "text-4 text-5 text-6"
    "img-12 img-13 img-14"
    "img-12 img-13 img-14"
    "text-7 text-8 text-9"*/
    }
    .artist-select img {
        border: .2em solid transparent;
        border-color: var(--primary-color);
    }

    .artist-select h2 {
        font-size: 1.5rem;
    }
}

#artwork {
    background-color: var(--color-1);
}

/* 15:42 on video, ALSO i need to fix the seperation between the boxes!! */




.painting-grid{
    display: grid;
    grid-template-columns:repeat(4, 1fr); /* four columns, 
    1 fraction of available space= each section is same size */
    grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "pic-1 pic-2 pic-3 pic-4"
        "pic-1 pic-2 pic-3 pic-4"
        "pic-1 pic-2 pic-3 pic-4"
        "desc-1 desc-2 desc-3 desc-4"
}

.painting-grid img{
    scale: 95%;
    height: 100%;
    width: 100%;
    border-radius: .5em;
    transition: 100ms ease; 
    border: .5em solid transparent;
    border-color: var(--primary-color);
    border-radius: .5em;
    margin: .5em;
    max-width: 100%;
    object-fit: cover;
    object-position: top;
}

.painting-grid img:hover {
    scale:1.05;
}

.painting-grid a{
    text-decoration: none;
    color: var(--text-color);
    margin: .5;
}

.painting-grid h3{
    background-color: var(--color-1);
}

.painting-grid a:hover{
    text-decoration: underline;
}

.painting-grid li::marker{
    color: var(--text-color);
}


@media only screen and (min-width: 0px) and (max-width:1024px) {
    .painting-grid {
     grid-template-columns:repeat(2, 1fr); /* four columns, 
    1 fraction of available space= each section is same size */
    grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "pic-1 pic-2"
        "pic-1 pic-2"
        "desc-1 desc-2"
        "pic-3 pic-4"
        "pic-3 pic-4"
        "desc-3 desc-4"
    }
    .text-container h3 {
        font-size: 1.5rem;
    }

    .painting-grid p{
        font-size: .75rem;
    }

    
}

#process {
    background-color: var(--color-1);
}

#museum {
    background-color: var(--color-3);
    padding: -1em;
    border-radius: .5em;
}

h4{
    color: var(--text-color);
    text-decoration: none;
}


